.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #263238;
    color: #ECEFF1;
    flex-shrink: 0;
}

.header-nav .nav-link {
    margin-left: 20px;
    color: #FFC107;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
}

.header-nav .nav-link:hover {
    text-decoration: underline;
}
